:root {
  --primary-color: #6fa400;
  --secondary-color: #3D5A00;
  --background-color: #f7f7f7;
  --text-color: #000;
  --accent-color: #fff;
  --border-color: #ccc;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--accent-color);
  padding: 15px 0;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 90px;
  width: auto;
  margin-right: 5px;
}

.site-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}

.site-title a {
  text-decoration: none;
  color: var(--text-color);
}

.fitness {
  color: var(--primary-color);
}

.feast {
  color: var(--secondary-color);
}

.logo a .fitness,
.logo a .feast {
  transition: color 2s ease;
}

.logo a:hover .fitness {
  color: var(--secondary-color);
}

.logo a:hover .feast {
  color: var(--primary-color);
}

.nav-container {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 22px 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin-right: 15px;
}

.nav-list li:not(:last-child) {
  margin-right: 70px;
}

.nav-list li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  transition: color 0.3s, background-color 0.3s;
}

.nav-list li a:hover {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.content {
  padding: 20px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.new-container {
  text-align: center;
}

.combined-heading {
  font-family: "Hanuman", serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 2px;
  color: var(--text-color);
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.combined-heading span {
  font-family: 'Water Brush', cursive;
  color: var(--primary-color);
  font-size: 40px;
  margin-left: 5px;
}

.search-container {
  display: flex;
  border: 1px solid var(--border-color);
  padding: 0px;
  margin-left: 345px;
}

.search-input {
  padding: 6px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  outline: none;
  font-family: 'Sarabun', sans-serif;
}

.search-button {
  padding: 10px 12px 10px 16px;
  background: var(--primary-color);
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: 'Sarabun', sans-serif;
  color: var(--accent-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.search-button .search-icon {
  margin-right: 5px;
}

.search-button:hover {
  background: var(--secondary-color);
}

.social-links {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-right: -30px;
}

.social-link {
  margin-right: 15px;
}

.social-link i {
  font-size: 35px;
  color: var(--primary-color);
  margin-right: 10px;
  transition: transform 0.5s;
}

.social-link:hover i {
  transform: translate3d(0, 0, 0) scale(1.2);
  color: var(--secondary-color);
}

.food-container {
  position: relative;
  background-color: var(--background-color);
  width: calc(20% - 10px);
  height: 380px;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  position: relative;
  margin: 10px;
}

.food-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-container::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lexend', sans-serif;
  text-align: center;
  z-index: 1;
}

.food-container:hover::before {
  opacity: 1;
}

.food-container span {
  z-index: 2;
}

.food-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.text-rectangle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 38px;
  background-color: var(--primary-color);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rectangle-text {
  font-family: 'Sanchez', serif;
  color: var(--accent-color);
  font-size: 16px;
}

.rectangle-link {
  text-decoration: none;
}

.additional-categories {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding: 20px 0;
  background-color: var(--background-color);
}

.category-container {
  position: relative;
  margin: 0 10px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.category-container:hover {
  transform: scale(1.1);
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.circle-heading {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text-color);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.circle:hover {
  transform: scale(1.1);
}

.search-view-container {
  text-align: center;
  width: calc(100% - 30px);
  max-width: 100%;
  height: 100px;
  background-color: var(--background-color);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-container-1 {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input-1 {
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  outline: none;
  font-family: 'Sarabun', sans-serif;
  width: 300px;
}

.search-button-1 {
  padding: 10px 15px;
  background: var(--primary-color);
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: 'Sarabun', sans-serif;
  color: var(--accent-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button-1:hover {
  background: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.or-text {
  font-family: 'Water Brush', cursive;
  margin: 0 30px;
  font-size: 35px;
  color: var(--secondary-color);
}

.view-all-button {
  padding: 16px 20px 12px 20px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  text-decoration: none;
  border-radius: 0px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-all-button:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.main-container {
  display: flex;
  background-color: #fff;
  margin-bottom: 5px;
}

.left-container {
  flex: 1;
  background-color: var(--accent-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.latest-heading {
  margin-top: 25px;
  font-family: 'Bitter', serif;
  color: var(--secondary-color);
  font-size: 16px;
  margin-bottom: 30px; 
  margin-left: 145px;
  padding-right: 15px;
  font-weight: 800;
  letter-spacing: 2px;
}

.right-container {
  width: 340px;
  background-color: var(--accent-color);
  padding: 15px;
  margin-right: 144px;
}

.right-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.image-wrapper {
  margin-bottom: 10px;
}

.recipe-collection-image {
  width: 95%;
  height: auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-collection-image:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.2);
}

.title-recipe-collection,
.button-recipe-collection {
  background-color: #d8d8d8;
  color: var(--accent-color);
  padding: 20px 20px;
  margin-right: 15px;
  font-family: 'Bitter', sans-serif;
  width: 320px;
  height: 63px;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.title-recipe-collection {
  margin-top: 12px;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: var(--primary-color);
  background-color: #F0F0F0;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.button-recipe-collection {
  margin-top: 3px;
  text-align: left;
  width: 320px;
  height: 63px;
  position: relative;
  background-color: #F0F0F0;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.buttons-wrapper a {
  text-decoration: none;
}

.button-recipe-collection b {
  position: relative;
  padding-right: 10px;
}

.button-recipe-collection:hover {
  background-color: #808080;
  color: #FFFFFF;
}

.article-count {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #808080;
  font-weight: bold;
}

.button-recipe-collection:hover .article-count {
  color: #FFFFFF;
}

.blog-item {
  display: flex;
  flex-basis: calc(50% - 20px);
  margin-right: 20px;
  margin-left: 145px;
}

.blog-item:nth-child(2n) {
  display: flex;
  margin-bottom: 30px; 
  margin-left: 145px;
}

.blog-item img {
  flex: 0 0 35%;
  max-width: 100%;
  height: 250px;
  width: 250px;
  margin-right: 26px;
  object-fit: cover;
  padding-right: 0px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.blog-item img:hover {
  opacity: 0.8;
}

.blog-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blog-date {
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 13px;
  color: #808080;
}

.blog-title {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-size: 30px;
}

.blog-title a {
  text-decoration: none;
  color: inherit;
}

.blog-title a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

.blog-description {
  margin: 0px;
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: justify;
  color: #484848;
}

.continue-reading {
  text-decoration: none;
  color: var(--primary-color);
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  transition: color 0.3s;
}

.continue-reading:hover {
  color: var(--secondary-color);
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-right: 27px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 84.4%;
}

.view-more-button {
  margin-top: 35px; 
}

.view-more {
  margin-top: -4px;
  margin-left: 330px;
  display: inline-block;
  padding: 17px 85px 13px 85px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.view-more:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color); 
}

.about-us-preview {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.about-me-container {
  width: 370px; 
  height: 470px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  text-align: center;
}

.about-me-container h2 {
  margin-top: 80px;
  margin-bottom: 15px;
  font-size: 17px;
  font-family: "Hanuman", serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.about-me-container h3 {
  font-family: 'Water Brush', cursive;
  font-size: 50px;
  color: var(--primary-color);
  margin-top: -35px;
}

.about-me-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: -35px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about-me-link {
  display: inline-block;
  padding: 14px 20px 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-align: center;
}

.about-me-link:hover {
  background-color: var(--secondary-color);
}

.photo-container img {
  display: block;
  width: 100%;
  height: 470px;
  object-fit: cover;
}

.about-me-container.ivi {
  margin-left: 145px;
  padding: 20px;
}

.about-me-container.ian {
  margin-right: 145px;
  padding: 20px;
}

.follow-us-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  margin-bottom: 50px;
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.follow-us-text {
  font-family: "Hanuman", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
}

.follow-us-icons {
  display: flex;
  align-items: center;
  font-size: 35px;
}

.follow-us-icons i {
  color: #fff;
  margin-right: 20px;
  transition: transform 0.5s;
}

.follow-us-icons i:hover {
  transform: translate3d(0, 0, 0) scale(1.2);
  color: #fff;
}

.signup-text {
  color: #fff;
  margin-left: 125px;
}

.signup-text .signup {
  font-family: 'Water Brush', cursive;
  letter-spacing: 2px;
  font-size: 30px;
}

.signup-text .for-email-updates {
  font-family: 'Hanuman', serif;
  font-weight: 800;
  font-size: 16px;
  margin-left: 10px;
}

.email-signup form {
  display: flex;
  align-items: center;
}

.email-signup {
  margin-top: -10px;
}

.email-signup input[type="text"],
.email-signup input[type="email"] {
  width: 250px; 
  padding: 7px; 
  margin-right: 10px;
  border: 1px solid #ccc; 
  outline: 1px solid transparent;
  user-select: none;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Sarabun', sans-serif;
}

.email-signup button {
  padding: 10px 20px 8px 20px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0); 
  
}

.email-signup button:hover {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.tab {
  z-index: 1;
  background-color: #d6d6d6;
  color: #333;
  padding: 15px 20px 10px 20px;
  margin: 0 1px -20px 1px
;
  cursor: pointer;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 15px;
  text-align: center;
  transition: background-color 0.1s, color 0.1s;
  opacity: 1;
}

.tab:hover {
  background-color: var(--primary-color); 
  color: #fff; 
}

.triangle {
  z-index: -1;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10.5px solid transparent;
  transition: border-top-color 0.1s;
  opacity: 1;
}

.tab:hover .triangle {
  border-top-color: var(--primary-color); 
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 5px;
  display: none;
  justify-content: center;
}

.tab-content.active {
  display: block;
  background-color: #f0f0f0;
}

.active {
  display: block;
}

.active-tab {
  background-color: var(--primary-color);
  color: #fff;
}

.active-tab .triangle {
  border-top-color: var(--primary-color);
}

.hide-triangle {
  border-top-color: transparent;
}

.image-grid {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.image-square {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 8px;
  transition: transform 0.3s ease;
}

.image-square:hover {
  transform: scale(1.05);
}

.image-square a {
  text-decoration: none;
}

.image-square:hover a {
  text-decoration: none;
}

.image-square img {
  width: 290px;
  height: 290px;
  border-radius: 2px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.label {
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: var(--primary-color);
  text-align: center;
  padding: 8px 4px 8px 4px;
  font-family: 'Sanchez', serif;
  color: var(--accent-color);
  font-size: 16px;
  margin: auto;
  margin-top: -39px;
  z-index: 2;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.image-square .label {
  text-decoration: none; /* Remove underline for label text */
}

.square-description {
  position: relative;
  width: 100%;
  margin-top: 5px;
  font-family: "Playfair Display", serif;
  font-size: 23px; 
  font-weight: 700;
  line-height: 1.5;
  overflow: hidden; 
  white-space: normal;
  text-align: center; 
  color: #000;
}

.square-description a {
  text-decoration: none; /* Remove underline for description text */
}

.image-square:hover .square-description a {
  text-decoration: underline; /* Add underline on hover for description text */
  text-decoration-thickness: 0.1em;
}

.image-square:hover .label {
  text-decoration: none; /* Remove underline on hover for label text */
}

.cookbook-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  text-align: left;
}

.cookbook-image {
  width: 100%;
  max-width: 450px;
  margin-right: 20px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease; /* Added transform transition */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.cookbook-image:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Intensified shadow on hover */
}
.cookbook-details {
  max-width: 600px;
}

.cookbook-details h2 {
  font-family: 'Water Brush', cursive;
  font-size: 50px;
  color: var(--primary-color);
  margin: 0;
  justify-content: center;
  display: flex;
}

.cookbook-details h3 {
  font-family: 'Hanuman', serif;
  color: var(--secondary-color);
  margin: 0;
  justify-content: center;
  display: flex;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1px;
}

.cookbook-details p {
  font-family: 'Noticia Text', serif;
  color: black;
  margin: 5px 0;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
}

.cb-email-signup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.cb-email-input {
  width: 250px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  outline: 1px solid transparent;
  user-select: none;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Sarabun', sans-serif;
}

.cb-go-button {
  padding: 10px 20px 8px 20px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0); 
}

.cb-go-button:hover {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

footer {
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}

@media only screen and (max-width: 600px)  {

  .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-bottom: -15px;
  }

  .logo {
    align-items: center;
    display: flex;
    margin-left: -8px;
  }

  .logo img {
    height: 70px;
    margin-bottom: 10px;
  }

  .site-title {
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
  }

  .search-container {
    display: none;
  }

  .social-links {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .additional-categories {
    display: flex;
    overflow: scroll;
  }

  .combined-heading {
    font-family: "Hanuman", serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    color: var(--text-color);
    font-size: 6px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .combined-heading span {
    font-family: 'Water Brush', cursive;
    color: var(--primary-color);
    font-size: 15px;
    margin-left: 5px;
  }

  .content {
    overflow: scroll;
  }

  .food-container {
    position: relative;
    background-color: var(--background-color);
    width: 380px;
    height: 380px;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
  }

  .text-rectangle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 39px;
    background-color: var(--primary-color);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .food-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    width: 380px;
    height: 380px;
    object-fit: cover;
  }

  .circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }

  .search-view-container {
    display: none;
  }

  .left-container {
    flex: 1 1;
    background-color: var(--accent-color);
    padding: 15px;
    display: flex;
    align-items: left;
  }

  .latest-blog-section {
    margin-left: -50px;
  }

  .latest-heading {
    margin-top: 25px;
    font-family: 'Bitter', serif;
    color: var(--secondary-color);
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-right: 15px;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .blog-item img {
    max-width: 100%;
    height: 150px;
    width: 150px;
    margin-right: 10px;
    object-fit: cover;
    padding-right: 0px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }

  .blog-item {
    display: flex;
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
    margin-left: 56px;
  }

  .blog-date {
    margin-top: -1px;
    margin-bottom: 0px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 8px;
    color: #808080;
  }

  .blog-title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-size: 15px;
  }

  .blog-description {
    margin: 0px;
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: justify;
    color: #484848;
    width: 200px;
  }

  .blog-grid {
    overflow:scroll;
  }

  .continue-reading {
    text-decoration: none;
    color: var(--primary-color);
    margin-top: 12px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    transition: color 0.3s;
    font-size: 10px;
  }

  hr {
    border: none;
      border-top-width: medium;
      border-top-style: none;
      border-top-color: currentcolor;
    border-top: 1px solid #ccc;
    margin-right: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    width: 60%;
  }

  .view-more-button {
    margin-top: 15px;
  }

  .view-more {
    margin-top: -4px;
    margin-left: 100px;
    display: inline-block;
    padding: 17px 85px 13px 85px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
  }

  .recipe-collection-image {
    display: none;
  }

  .title-recipe-collection {
    display: none;
  }

  .buttons-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .example {background: green;}
}

@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 


@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
